.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body,
html {
  font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco,
    "Bitstream Vera Sans Mono", monospace !important;
  font-weight: 300;
  font-size: 13px;
  color: #303030;
  line-height: 26px;
}

.home {
  background-image: linear-gradient(to bottom, #1c7473, #1a5d57);
  background-size: cover;
  height: 800px;
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.01);
}
.findr {
  background-image: linear-gradient(to bottom, #1a5d57, #156070);
  background-size: cover;
  height: 800px;
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.container {
  margin: auto;
  position: relative;
}

.findrLogo {
  position: absolute;
  opacity: 0.8;
  width: 40%;
  left: 25vw;
  top: 20vh;
}

.phone {
  position: absolute;
  opacity: 0.8;
  margin-left: -3%;
  width: 15%;
}

div {
  display: block;
}

.fixit {
  background-image: linear-gradient(to bottom, #156070, #154970);
  background-size: cover;
  height: 800px;
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.fixit-paper {
  margin-top: 7%;
  width: 25%;
  border-radius: 18px;
  border-width: 0px;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  box-shadow: 0 19px 51px 0 rgba(0, 0, 0, 0.16),
    0 14px 19px 0 rgba(0, 0, 0, 0.07);
}
