/* CSS on the entire page */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
div {
  display: block;
}

body,
html {
  font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco,
    "Bitstream Vera Sans Mono", monospace !important;
  font-weight: 300;
  font-size: 13px;
  color: #303030;
  line-height: 26px;
}

.container {
  margin: auto;
  position: relative;
  /* border: solid 2px greenyellow; */
}

/* CSS on the navbar */
.active {
  color: #fcfcfc;
}

/* CSS on the jumbotron */

.home {
  background-image: linear-gradient(to bottom, #1c7473, #1a5d57);
  background-size: cover;
  height: 800px;
  position: relative;
}

/* CSS on the About page*/

.about {
  background: rgb(22, 25, 26);
  background-size: cover;
  height: 87vh;
  position: relative;
}

.side-head {
  font-size: 8.125rem;
  color: white;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  position: absolute;
  top: 70vh;
  z-index: 10;
  left: 94vw;
  transform: translateY(-50%);
  white-space: nowrap;
  z-index: 1;
  opacity: 0.8;
  letter-spacing: 4px;
}
.side-head-2 {
  font-size: 8.125rem;
  color: white;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  position: absolute;
  top: 70vh;
  margin-left: -6vw;
  transform: translateY(-50%);
  white-space: nowrap;
  z-index: 1;
  opacity: 0.8;
  letter-spacing: 4px;
}

.about-title {
  font-size: 2.5rem;
  font-family: "Anton", sans-serif;
  color: white;
  font-weight: 400;
  position: relative;
  top: 30vh;
  left: 18vw;
  text-transform: uppercase;
}

.about-desc {
  font-size: 1.2rem;
  font-family: "Sarabun", sans-serif;
  color: white;
  font-weight: 400;
  position: relative;
  top: 35vh;
  left: 18vw;
}

/* CSS on the findr page*/

.findr {
  background: rgb(22, 25, 26);
  /* border: 2px white solid; */
  background-size: cover;
  height: 800px;
  height: 70vh;
  position: relative;
}

.container-findr {
  display: flex;
  position: relative;
  /* border: solid 2px green; */
  align-items: center;
}

.findrLogo {
  opacity: 0.8;
  width: 40%;
  /* border: solid 2px magenta; */
  /* left: 40vw; */
  margin-left: 30vw;
}
.findr-content-line {
  color: white;
  opacity: 0;
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  font-size: 1.2rem;
  font-family: "Sarabun", sans-serif;
}

/* CSS on the fixit page*/

/* .fixit {
  background: rgb(22, 25, 26);
  background-size: cover;
  height: 800px;
  position: relative;
}

.fixit-paper {
  margin-top: 7%;
  width: 37%;
  border-radius: 18px;
  border-width: 0px;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  box-shadow: 0 19px 51px 0 rgba(0, 0, 0, 0.16),
    0 14px 19px 0 rgba(0, 0, 0, 0.07);
} */

.fixit-content-line {
  color: white;
  opacity: 0;
  display: flex;
  text-align: left;
  /* position: absolute; */
  flex-wrap: wrap;
  font-size: 1.2rem;
  font-family: "Sarabun", sans-serif;
  /* border: solid 2px teal; */
  /* bottom: 12vw; */
}

.fixit {
  background: rgb(22, 25, 26);
  /* border: 2px white solid; */
  background-size: cover;
  height: 800px;
  height: 70vh;
  position: relative;
}

.container-fixit {
  display: flex;
  position: relative;
  /* border: solid 2px green; */
  align-items: center;
}

.fixitVideo {
  opacity: 0.8;
  width: 40%;
  /* border: solid 2px magenta; */
  /* left: 40vw; */
  margin-left: -10vw;
  /* margin-top: 7%; */
  width: 37%;
  border-radius: 18px;
  border-width: 0px;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  box-shadow: 0 19px 51px 0 rgba(0, 0, 0, 0.16),
    0 14px 19px 0 rgba(0, 0, 0, 0.07);
}
