/* CSS on the entire page */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
div {
  display: block;
}

body,
html {
  font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco,
    "Bitstream Vera Sans Mono", monospace !important;
  font-weight: 300;
  font-size: 13px;
  color: #303030;
  line-height: 26px;
}

.container {
  margin: auto;
  position: relative;
}

/* CSS on the navbar */
.active {
  color: #fcfcfc;
}

/* CSS on the jumbotron */

.home {
  background-image: linear-gradient(to bottom, #1c7473, #1a5d57);
  background-size: cover;
  height: 800px;
  position: relative;
}

/* CSS on the About page*/

.about {
  background: rgb(22, 25, 26);
  background-size: cover;
  height: 100vh;
  position: relative;
}

.side-head {
  font-size: 8.125rem;
  color: white;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  position: absolute;
  top: 50vh;
  transform: translateY(-50%);
  white-space: nowrap;
  z-index: 1;
  left: 0px;
}

.about-title {
  font-size: 2.5rem;
  font-family: "Anton", sans-serif;
  color: white;
  font-weight: 400;
  position: relative;
  top: 30vh;
  left: 18vw;
  text-transform: uppercase;
}

.about-desc {
  font-size: 1.2rem;
  font-family: "Sarabun", sans-serif;
  color: white;
  font-weight: 400;
  position: relative;
  top: 35vh;
  left: 18vw;
}

/* CSS on the findr page*/

.findr {
  background: rgb(22, 25, 26);
  background-size: cover;
  height: 800px;
  position: relative;
}

.findrLogo {
  position: relative;
  opacity: 0.8;
  width: 40%;
}

.findr-content-line {
  color: white;
}

/* CSS on the fixit page*/

.fixit {
  background: rgb(22, 25, 26);
  background-size: cover;
  height: 800px;
  position: relative;
}

.fixit-paper {
  margin-top: 7%;
  width: 25%;
  border-radius: 18px;
  border-width: 0px;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  box-shadow: 0 19px 51px 0 rgba(0, 0, 0, 0.16),
    0 14px 19px 0 rgba(0, 0, 0, 0.07);
}
