.body {
  font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco,
    "Bitstream Vera Sans Mono", monospace;
  font-weight: 300;
  font-size: 13px;
  color: #303030;
  line-height: 26px;
}

.hero {
  //   visibility: hidden;
  height: 100vh;
  .container {
    width: 1440px;
    min-width: 1440px;
    margin: 0 auto;

    .name {
      font-weight: 300;
      font-size: 80px;
      color: #303030;
      line-height: 26px;
      text-transform: uppercase;
      font-weight: bold;
      .name-1 {
        position: absolute;
        top: 87.5vh;
        left: 12vw;
        -webkit-text-fill-color: #303030; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 0.1px;
        -webkit-text-stroke-color: black;
      }
      .name-2 {
        position: absolute;
        top: 97.5vh;
        left: 11.5vw;
        z-index: 2;
        -webkit-text-fill-color: white; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 0.1px;
        -webkit-text-stroke-color: black;
      }
      .name-3 {
        position: absolute;
        top: 107.5vh;
        left: 12vw;
        z-index: 2;
      }
    }

    .title {
      position: absolute;
      font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco,
        "Bitstream Vera Sans Mono", monospace !important;
      top: 20.5vh;
      left: 12vw;
    }
  }
}

.JIcon {
  width: 10%;
  margin-top: 20%;
  animation: fill 0.5s ease forwards 2.5s;
}

.JIcon path {
  stroke-dasharray: 926px;
  stroke-dashoffset: 926px;
  animation: line-anim 1.5s ease forwards 1s;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #303030;
  }
}
